* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:rgba(76, 110, 75, 0.978);
  }
  .container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
  }
  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }
  form .category {
    display: flex;
    width:30%;
    margin: 14px 0;
    justify-content: space-between;
  }
  form .category label {
    display:flex;
    align-items: center;
    cursor:pointer;
  }
  form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #e4e7e6;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  #dot-1:checked~.category label .one,
  #dot-2:checked~.category label .two{
    background: #1322be;
    border-color: #d9d9d9;
  }
  form input[type="radio"] {
    display: none;
  }
  form .button {
    height: 45px;
    margin: 35px;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background:rgb(47, 85, 255);
  }
  
  form .button input:hover {
    background:green;
  }
  #errorMessages {
    color: red;
    font-size: 14px;
  }